name: Release build

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-2025

    steps:
      - uses: actions/checkout@v6

      - name: Extract build version
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Set package.json version
        id: package_version
        uses: KageKirin/set-node-package-version@v1
        with:
          version: ${{ steps.get_version.outputs.version-without-v }}

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Install project dependencies
        run: npm ci

      - name: Build and create the installer
        run: npm run make -- --platform win32 --arch x64

      - name: Archive production artifacts
        uses: actions/upload-artifact@v5
        with:
          name: setup
          path: out/make/**/*.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: out/make/**/*.exe
